*,*:before,*:after {
	box-sizing: border-box;
}

:after {
	content: "";
}

section {
  position: relative;
  left: 100px;
}

/*
h1 { 
  margin:80px 0 10px 0;
  font-size: 52px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #181818, 2px 2px 0px #181818, 3px 3px 0px #181818, 4px 4px 0px #181818;
}

h2 {
  font-size: 24px;
}
*/


/* BODY */

body {
  padding: 100px 0;
background: #1D1D1D;
  color: #909096;
  /*max-width:640px;*/
font-family: 'Montserrat', sans-serif;
font-size: 14px;
  line-height:1.4;
}

#page {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* CONTAINTER */

.text-zone {
  position: absolute;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40%;
  font-size: 1.5em;
  max-height: 90%;
}

/* INTRO */

.intro {
  
  color: #ffffff;
  text-align: left;

  animation-duration: 0.9s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  display: inline-block;
}

.intro:hover {
  color: cyan;
  /* animation: rubberBand 5s infinite; */
  animation-name: rubberBand;
}

.intro-heading {

}

.spacer {
  display:inline-block;
  line-break: 10px;
  content: "\A";
  white-space: pre;
}

#spacer {
  display:inline-block;
  line-break: 10px;
  white-space: pre;
}

a.fillin-button {
  color: cyan;
  font-size: 13px;
  letter-spacing: 4px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid cyan;
  margin-top: 25px;
  float: left;
  -webkit-animation: myanim2 1s 1.8s backwards;
  animation: myanim2 1s 1.8s backwards;
}

a.fillin-button:before {
  display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 10%;
	width: 0px;
  z-index: -1;
  content: '';
	color: #fff !important;
	background: cyan;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}



a.fillin-button:hover {
  color: #333 !important;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
}

a.fillin-button:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
}

a.fillin-button:nth-child(1) {
  content: "Contact Me!"
}

a.fillin-button:nth-child(1):before {
  content: "Contact Me!"
}

a.fillin-button:nth-child(1):after {
  content: "Contact Me!"
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

/* */